<section class="header sticky-top">
  <nav id="header" class="navbar navbar-expand-lg navbar-dark bg-black ">
      <div class="container">
        <a id="logo-header" class="navbar-brand" href="#">
          <img src="../../../../assets/images/logoAvion.png" alt="">
          <label class="frase-logo">NOMBRE</label>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/home"  routerLinkActive="active">Inicio<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/destinos" routerLinkActive="active">Destinos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/ayuda" routerLinkActive="active">Centro Ayuda</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/contacto" routerLinkActive="active">Contacto</a>
            </li>

          </ul>
          <div *ngIf="userService.user.username != null; else elseblock"class="header__menu">
            <div   class="header__menu--profile">
                <p>{{ userService.user.username}}</p>
                <img  src="../../../../assets/images/user-icon.png" alt="User">
            </div>
            <ul class="opciones">
                <li><a href="">Cuenta</a></li>
                <li><a (click)="userService.borrar_localStorage()" href="/auth/login">Cerrar Sesión</a></li>
            </ul>
          </div>

          <ng-template #elseblock>
            <a href="/auth/login">Iniciar Sesion</a>
          </ng-template>
          

          
          
            
          
            
          
          

        </div>

      </div>
