<div class="body">
    <section class="login">
        <div class="login__container">
            <h2>Registro</h2>
    
            <form [formGroup]="form" (ngSubmit)="register($event)">
                
                <div class="rowl">
                    <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Name" formControlName="name" matInput type="text">
                    </mat-form-field>
                    </div>
                </div>
    
                <div class="rowl">
                    <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Email" formControlName="email" matInput type="email">
                    </mat-form-field>
                    </div>
                </div>
                <div class="rowl">
                    <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Password" formControlName="password" matInput type="password">
                    </mat-form-field>
                    </div>
                </div>
                <div class="rowl">
                    <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Confirm Password" formControlName="password" matInput type="password">
                    </mat-form-field>
                    </div>
                </div>
            
                <button [disabled]="form.invalid" class="button" type="submit">Registrarse</button>
            
            </form>

            <p>Ya tienes cuenta <a routerLink="/auth/login">Inicia Sesión</a></p>

            
    
        </div>
    
    </section>
</div>
