.destino-table{
    width: 96%;
    margin: 2%;
}

.button-list-edit{
    margin-right: 15px;
    background-color: #1916c7;
}

.button-list-delete{
    margin-right: 15px;
    background-color: #fc3131;
}