<div class="card destino">
    <img [src]="destino.imagen" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title"><strong>{{ destino.nombre | uppercase }}</strong></h5>
      <h5>{{ destino.precio | currency }}</h5>
      <p class="card-text">{{destino.descripcion}}</p>
      
      <a class="btn btn-primary" [routerLink]="['comprar',destino.iddestino]" >Comprar</a>
      <a class="btn btn-primary" [routerLink]="[destino.iddestino]">Ver Detalle</a>
      
    </div>
</div>


