.lugar-img{
  display: flex;
  align-items: center;
  justify-content: center;
  

  img{
    width: 380px;
    height: 250px;
    border: 2px black solid;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 10%;
    background-size: 100% auto;
    
  }
}



.card{
    border-radius: 30px;
    border-color:black;
    height: 300px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.descripcion{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;

}