.lugar-img{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
    border-radius: 30px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.descripcion{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;

}